li:hover{
  background-color: #0a946f;

}

.activeAccount
{
   text-decoration: underline white;
   font-weight: bold;
}

.inactiveAccount
{
   text-decoration: underline white;
   font-weight: bold;
}

#transactionContent
{
  min-width: 500px;
}

#imageresult img
{
  width: 100%;
}
