<div class="" ng-controller="accountController as accountCtrl">

<h4>{{accountCtrl.customer}}'s Accounts</h4>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li ng-repeat="account in accountCtrl.accounts" "><a href="#" ng-click="accountCtrl.viewAccount(account)">Account:{{account.number}} {{account.type}}</a></li>
    </ul>
  </div>
</nav>
<div ng-show="accountCtrl.showAccount">
  <h5><small>Account:</small>{{accountCtrl.accountDetails}}</h5>
  <h5><small>Description:</small>{{accountCtrl.accountDescription}}</h5>
  <h5><small>Balance:</small>{{accountCtrl.accountBalance}}</h5>
  <table class="table table-striped table-condensed">
				<thead>
					<tr>
						<th>{{'date' | uppercase}}</th>
						<th>{{'description' | uppercase}}</th>
						<th>{{'amount' | uppercase}}</th>
            <th></th>
					</tr>
				</thead>
				<tr ng-repeat="payment in accountCtrl.payments">
          <td>{{payment.operationDate}}</td>
          <td>{{payment.description}}</td>
          <td>{{payment.value.amount}}</td>
          <td><button
							class="btn btn-primary" type="button"
							ng-click="accountCtrl.setPayment(payment)"  data-toggle="modal"
							data-target="#paymentModal">
							Show Details
						</button></td>
				</tr>

			</table>



</div>


<div class="modal fade" id="paymentModal" role="dialog">
		<div class="modal-dialog modal-sm">
			<div class="modal-content" id="transactionContent">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Payment Details</h4>
				</div>
				<div class="modal-body">
					<p>Payment details</p>
          <p>Amount:{{accountCtrl.payment.value.amount}}</p>
          <p>Description:{{accountCtrl.payment.description}}</p>
          <p>Date:{{accountCtrl.payment.operationDate}}</p>
          <p>Transaction Fee: {{accountCtrl.payment.fee.amount}} {{accountCtrl.payment.fee.currency}}</p>
          <p>From Account:{{accountCtrl.payment.originAccount.name}} AccNumber:{{accountCtrl.payment.originAccount.number}}</p>
          <p>To Account:{{accountCtrl.payment.remoteAccount.name}} AccNumber:{{accountCtrl.payment.remoteAccount.number}}</p>
				</div>
        <div id="imageresult"></div>
        <div ng-show="accountCtrl.showReceiptItem" id="receiptItems">
          <table class="table table-striped table-condensed">
            <thead>
              <tr>
                <th>{{'description' | uppercase}}</th>
                <th>{{'Cost' | uppercase}}</th>
              </tr>

            </thead>
            <tr ng-repeat="item in accountCtrl.receiptItems">
              <td>{{item.itemname}}</td><td>{{item.itemprice}}</td>

            </tr>
          </table>
        </div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" ng-show="!accountCtrl.buttonControl" class="btn btn-warning" data-toggle="modal" data-target="#addReceiptModal">Add A Receipt</button>
          <button type="button" ng-show="accountCtrl.buttonControl" class="btn btn-warning" ng-click="accountCtrl.deleteReceipt(accountCtrl.payment.id)">Remove Receipt</button>
				</div>
			</div>
		</div>
	</div>

  <div class="modal fade" id="addReceiptModal" role="dialog" ng-controller="accountReceiptController as receiptCtrl">
      <div class="modal-dialog modal-sm">
        <div id="addReceiptModal" class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Receipt Uplaod</h4>
          </div>
          <div class="modal-body">
            <p>Select a receipt</p>
            <input type="file" id="input" name="receiptpic"></input><br>
            <canvas id="canvas"></canvas>

                <div id = "outpt">
                </div>
                <div id="resulting">
                </div>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="receiptCtrl.uploadReceipt(accountCtrl.payment.id)">Upload A Receipt</button>
          </div>
        </div>
      </div>
    </div>




</div>
